# Created by .ignore support plugin (hsz.mobi)
.all_terms
.gitignore
.idea/
.out_term_list
The_Termolator.iml
temporary_TERMOLATOR_POS.properties
__pycache__/
tmpexec
.mypy_cache/


tests/czi/DAVETEST_all/source/foreground/*.txt2
tests/czi/DAVETEST_all/source/foreground/*.txt3
tests/czi/DAVETEST_all/source/foreground/*.pos
tests/czi/DAVETEST_all/source/foreground/*.fact
tests/czi/DAVETEST_all/source/foreground/*.abbr
tests/czi/DAVETEST_all/source/foreground/*.terms
tests/czi/DAVETEST_all/source/foreground/*.tchunk
tests/czi/DAVETEST_all/source/foreground/*.tchunk.nps

tests/czi/DAVETEST_all/source/background/*.txt2
tests/czi/DAVETEST_all/source/background/*.txt3
tests/czi/DAVETEST_all/source/background/*.pos
tests/czi/DAVETEST_all/source/background/*.fact
tests/czi/DAVETEST_all/source/background/*.abbr
tests/czi/DAVETEST_all/source/background/*.terms
tests/czi/DAVETEST_all/source/background/*.tchunk
tests/czi/DAVETEST_all/source/background/*.tchunk.nps

tests/czi/DAVETEST_small/source/foreground/*.txt2
tests/czi/DAVETEST_small/source/foreground/*.txt3
tests/czi/DAVETEST_small/source/foreground/*.pos
tests/czi/DAVETEST_small/source/foreground/*.fact
tests/czi/DAVETEST_small/source/foreground/*.abbr
tests/czi/DAVETEST_small/source/foreground/*.terms
tests/czi/DAVETEST_small/source/foreground/*.tchunk
tests/czi/DAVETEST_small/source/foreground/*.tchunk.nps

tests/czi/DAVETEST_small/source/background/*.txt2
tests/czi/DAVETEST_small/source/background/*.txt3
tests/czi/DAVETEST_small/source/background/*.pos
tests/czi/DAVETEST_small/source/background/*.fact
tests/czi/DAVETEST_small/source/background/*.abbr
tests/czi/DAVETEST_small/source/background/*.terms
tests/czi/DAVETEST_small/source/background/*.tchunk
tests/czi/DAVETEST_small/source/background/*.tchunk.nps

tests/czi/DAVETEST_small/run/actual/*
