# Created by .ignore support plugin (hsz.mobi)
.all_terms
.gitignore
.idea/
.out_term_list
The_Termolator.iml
temporary_TERMOLATOR_POS.properties
__pycache__/
tmpexec
.mypy_cache/


tests/czi/*/source/*/*.txt2
tests/czi/*/source/*/*.txt3
tests/czi/*/source/*/*.pos
tests/czi/*/source/*/*.fact
tests/czi/*/source/*/*.abbr
tests/czi/*/source/*/*.terms
tests/czi/*/source/*/*.tchunk
tests/czi/*/source/*/*.tchunk.nps

tests/czi/DAVETEST_small/run/actual/*
