# Created by .ignore support plugin (hsz.mobi)
.all_terms
.gitignore
.idea/
.out_term_list
The_Termolator.iml
temporary_TERMOLATOR_POS.properties
__pycache__/
tmpexec
.mypy_cache/

*.abbr
*.fact
*.pos
*.tchunk
*.tchunk.nps
*.terms
*.txt2
*.txt3

tests/czi/DAVETEST_small/source//*/*.txt2
tests/czi/DAVETEST_small/source//*/*.txt3
tests/czi/DAVETEST_small/source//*/*.pos
tests/czi/DAVETEST_small/source//*/*.fact
tests/czi/DAVETEST_small/source//*/*.abbr
tests/czi/DAVETEST_small/source//*/*.terms

tests/czi/DAVETEST_small/run/actual/*
